.ballot {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .ballot_btn {
    margin: 20px 0px;
    background-color: #009B86;
    align-self: flex-end;
    width: 130px;
    font-size: 18px;
  }
  .ballot_btn:hover {
    background-color: #34ac9c;
  }
  .ballot_btn:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  @media only screen and (max-width: 960px) {
    .ballot_btn {
      align-self: center;
    }
  }
  